body {
    background-image: url("https://ichef.bbci.co.uk/onesport/cps/624/cpsprodpb/5CF7/production/_105999732_ronaldo.jpg?crop=100px,0px,2600px,1733px"), url("https://img.bundesliga.com/tachyon/sites/2/2020/03/imago06986929h-scaled.jpg");
    background-position: left, right;
    background-repeat: no-repeat, no-repeat;
    background-position-x: calc(170% + 700px), calc(30% - 200px); /* Pildi järgi peab paika panema, et sobituks */
    background-position-y: bottom, bottom;
    background-size: auto 100%;
    background-attachment: fixed;
    margin: 0;
}
p {
  font-size:large;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.sisu {
  width: 780px;
  background-color: whitesmoke;
  border: 2px solid rgb(0, 0, 0);
  padding: 30px;
  margin: auto;
}

.pealkiri {
    color: black;
    text-align: center;
}
.border-color {
  border: 2px solid rgb(177, 247, 155);
  border-radius: 4px;
  background-color: rgb(177,247,155);
  padding:15px
}
/* https://www.w3schools.com/howto/howto_css_images_side_by_side.asp */
.row{      
    display:flex;
}

.column{
    flex:20%;
    padding:5px;
}

.alamkiri {
    width: 780px;
    background-color: whitesmoke;
    padding-top: 3px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 3px;
    margin: auto;
}

p {
    font-size:large

}

  /* https://www.w3schools.com/howto/howto_css_dropdown.asp */
.nupp {
    background-color: cadetblue;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
 
  .menüü {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .menüüsisu {
    display: none;
    position: absolute;
    background-color: cadetblue;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .menüüsisu a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .menüüsisu a:hover {background-color:cadetblue;}
  
  .menüü:hover .menüüsisu {display: block;}
  
  .menüü:hover .nupp {background-color: cadetblue;}